<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %><</h1>
    <p>Repositório de técnicas de DX</p>
    <ul>
      <% docs.forEach(function(tecnicas){ %>
        <li>
          <a href="/ver/<%= tecnicas._id %>">
            <%= tecnicas.nome %>
          </a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>

    
